extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert-flash.pug

block main
    h1 Danh sách sản phẩm

    +messages(5000)
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body
            .row
                .col-6
                    +filter(filterStatus)
                .col-6 
                    +search(keyword)
    .card.mb-3
        .card-header Danh sách sản phẩm
            .card-body
                .row 
                    .col-10
                        +formChangeMulti(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                    .col-2
                        a.btn.btn-outline-success(href=`${prefixAdmin}/products/create`) + Thêm mới  
            table(
                class="table table-hover table-sm"
                change-multi
            )
                thead
                    tr
                        th 
                            input(
                                type="checkbox" 
                                name="checkall"
                            )
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody
                    each item,index in products
                        tr 
                            td
                                input(
                                    type="checkbox" 
                                    name="id"
                                    value=item.id
                                )
                            td #{index + 1}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="50"
                                )
                            td=item.title
                            td #{item.price}$
                            td
                                input(
                                    type="number"
                                    value=item.position
                                    style="width: 60px"
                                    min="1"
                                    name="position"
                                )
                            td 
                                if(item.status === 'active')  
                                    a(
                                        href="javascript:;"
                                        class="badge bg-success" 
                                        data-status=item.status
                                        data-id= item.id
                                        button-change-status
                                    ) Hoạt động
                                else if(item.status === 'restore')  
                                    a(
                                        href="javascript:;"
                                        class="badge bg-danger" 
                                        data-status=item.status
                                        data-id= item.id
                                        button-change-status
                                    ) Đã bị xóa
                                else
                                    a(
                                        href="javascript:;"
                                        class="badge bg-danger" 
                                        data-status=item.status
                                        data-id=item.id
                                        button-change-status
                                    ) Dừng hoạt động
                            td 
                                if(item.status === 'restore')
                                    button.btn.btn-sm.btn-success(
                                        button-restore
                                        data-id=item.id
                                    ) Khôi phục
                                    button.btn.btn-sm.btn-danger(
                                        button-delete-perpetual
                                        data-id=item.id
                                    ) Xóa vĩnh viễn
                                else
                                    a.btn.btn-sm.btn-warning(href=`${prefixAdmin}/products/edit/${item.id}`) Sửa
                                    a.btn.btn-sm.btn-secondary(href=`${prefixAdmin}/products/detail/${item.id}`) Chỉnh sửa
                                    button.btn.btn-sm.btn-danger(
                                        button-delete
                                        data-id=item.id
                                    ) Xóa
                        tr
        form(
            action=""
            method="POST"
            id="form-change"
            data-path=`${prefixAdmin}/products/change-status`
        )
        //Xóa mềm 1 sp
        form(
            action=""
            method="POST"
            id="form-delete"
            data-path=`${prefixAdmin}/products/deleteOne`
        )
        // Xóa vĩnh viễn
        form(
            action=""
            method="POST"
            id="form-delete-perpetual"
            data-path=`${prefixAdmin}/products/delete`
        )
        form(
            action=""
            method="POST"
            id="form-restore"
            data-path=`${prefixAdmin}/products/restoreOne`
        )

        //- pagination
        +pagination(pageObject)

    script(src="/admin/js/script.js")
    script(src="/admin/js/products.js")