mixin pagination(pageObject)
     nav
            ul(class="pagination")
                if(pageObject.curentPage>1)
                    li(class="page-item")
                        button(
                            class="page-link"
                            page-link=1
                        ) Trang đầu
                    li(class="page-item")
                        button(
                            class="page-link"
                            page-link=pageObject.curentPage-1
                        ) <<
                    

                - for(var i=pageObject.curentPage-1; i<=pageObject.curentPage+1; i++)
                    if(i>0&&i<=pageObject.totalPage)
                        li(class=`page-item ${i == pageObject.curentPage ? "active":""}`)
                            button(
                                class="page-link"
                                page-link=i
                            ) #{i}
                if(pageObject.curentPage<pageObject.totalPage)
                    li(class="page-item")
                        button(
                            class="page-link"
                            page-link=pageObject.curentPage+1
                        ) >>
                    li(class="page-item")
                        button(
                            class="page-link"
                            page-link=pageObject.totalPage
                        ) Trang cuối